
@using MvcCv.Models.Entity
@model List<TBLADMIN>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h3>Admin İşlemleri</h3>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Kullanıcı Adı</th>
        <th>Kaldır</th>
        <th>Güncelle</th>
       
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.KullaniciAdi</td>
            
           
            <td><a href="/Admin/AdminSil/@x.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin/AdminDuzenle/@x.ID" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Admin/Ekle" class="btn btn-info">Ekle</a>


