@model MvcCv.Models.Entity.TBLYETENEKLER
@{
    ViewBag.Title = "YeniYetenek";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Yeni Yetenek Ekleme Sayfası</h2>

<form method="post">
   
    @Html.Label("Yetenek Açıklama")
    @Html.TextBoxFor(x => x.Yetenek, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>
